.imageRedesSonido.imageRedesSonido {
  position: absolute;
  left: 367px;
  top: 30px;
  width: 706px;
  height: 59px;
}
.capa2.capa2 {
  width: 705.9814px;
  height: 59px;
}
.capa2 {
  width: 705.9814px;
  height: 59px;
}
.icon {
  width: 100%;
  height: 100%;
}
.tipografiaTitulos.tipografiaTitulos {
  position: absolute;
  left: 606px;
  top: 14px;
}
.episodios {
  color: #000;
  font-size: 80px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -14.4737%;
  right: -14.9123%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.personajesCarolinaContacto.personajesCarolinaContacto {
  transform-origin: top left;
  position: absolute;
  left: 45px;
  top: 221.1108px;
  width: 406.0582px;
  height: 437.8931px;
  transform: matrix(0.9704, -0.2416, 0.2416, 0.9704, 0, 0);
}
.capa1.capa1 {
  left: 0.0025px;
  top: 0.0023px;
  width: 406.0557px;
  height: 437.8888px;
}
.capa1 {
  left: 0.0025px;
  top: 0.0023px;
  width: 406.0557px;
  height: 437.8888px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.logoHome.logoHome {
  position: absolute;
  left: 1054px;
  top: 91px;
  width: 236px;
  height: 337px;
}
.capa22.capa22 {
  width: 236px;
  height: 337px;
}
.capa22 {
  width: 236px;
  height: 337px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.buttonSubs.buttonSubs {
  left: 868px;
  top: 743px;
  width: 188px;
  height: 59px;
  place-content: center;
  align-items: center;
  background-color: #f4bece;
}
.sUBSCRIBIRSE {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.iconsInstagram.iconsInstagram {
  position: absolute;
  left: 100px;
  top: -5px;
  width: 90px;
  height: 90px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.iconsInstagram2.iconsInstagram2 {
  position: absolute;
  left: 1250px;
  top: -5px;
  width: 90px;
  height: 90px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.tipografiaTitulos2.tipografiaTitulos2 {
  position: absolute;
  left: 606px;
  top: 14px;
}
.episodios2 {
  color: #000;
  font-size: 80px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.9474%;
  right: 3.5088%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.personajesLidia.personajesLidia {
  position: absolute;
  left: 74px;
  top: 0;
  width: 310px;
  height: 901px;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.icon31 {
  width: 100%;
  height: 100%;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.icon35 {
  width: 100%;
  height: 100%;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.icon37 {
  width: 100%;
  height: 100%;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.icon40 {
  width: 100%;
  height: 100%;
}
.icon41 {
  width: 100%;
  height: 100%;
}
.icon42 {
  width: 100%;
  height: 100%;
}
.icon43 {
  width: 100%;
  height: 100%;
}
.icon44 {
  width: 100%;
  height: 100%;
}
.icon45 {
  width: 100%;
  height: 100%;
}
.icon46 {
  width: 100%;
  height: 100%;
}
.icon47 {
  width: 100%;
  height: 100%;
}
.icon48 {
  width: 100%;
  height: 100%;
}
.icon49 {
  width: 100%;
  height: 100%;
}
.icon50 {
  width: 100%;
  height: 100%;
}
.icon51 {
  width: 100%;
  height: 100%;
}
.icon52 {
  width: 100%;
  height: 100%;
}
.icon53 {
  width: 100%;
  height: 100%;
}
.icon54 {
  width: 100%;
  height: 100%;
}
.icon55 {
  width: 100%;
  height: 100%;
}
.icon56 {
  width: 100%;
  height: 100%;
}
.icon57 {
  width: 100%;
  height: 100%;
}
.icon58 {
  width: 100%;
  height: 100%;
}
.icon59 {
  width: 100%;
  height: 100%;
}
.icon60 {
  width: 100%;
  height: 100%;
}
.icon61 {
  width: 100%;
  height: 100%;
}
.icon62 {
  width: 100%;
  height: 100%;
}
.icon63 {
  width: 100%;
  height: 100%;
}
.icon64 {
  width: 100%;
  height: 100%;
}
.icon65 {
  width: 100%;
  height: 100%;
}
.icon66 {
  width: 100%;
  height: 100%;
}
.icon67 {
  width: 100%;
  height: 100%;
}
.icon68 {
  width: 100%;
  height: 100%;
}
.icon69 {
  width: 100%;
  height: 100%;
}
.icon70 {
  width: 100%;
  height: 100%;
}
.icon71 {
  width: 100%;
  height: 100%;
}
.icon72 {
  width: 100%;
  height: 100%;
}
.icon73 {
  width: 100%;
  height: 100%;
}
.icon74 {
  width: 100%;
  height: 100%;
}
.icon75 {
  width: 100%;
  height: 100%;
}
.icon76 {
  width: 100%;
  height: 100%;
}
.icon77 {
  width: 100%;
  height: 100%;
}
.icon78 {
  width: 100%;
  height: 100%;
}
.icon79 {
  width: 100%;
  height: 100%;
}
.icon80 {
  width: 100%;
  height: 100%;
}
.icon81 {
  width: 100%;
  height: 100%;
}
.icon82 {
  width: 100%;
  height: 100%;
}
.icon83 {
  width: 100%;
  height: 100%;
}
.icon84 {
  width: 100%;
  height: 100%;
}
.icon85 {
  width: 100%;
  height: 100%;
}
.icon86 {
  width: 100%;
  height: 100%;
}
.icon87 {
  width: 100%;
  height: 100%;
}
.icon88 {
  width: 100%;
  height: 100%;
}
.icon89 {
  width: 100%;
  height: 100%;
}
.vector.vector {
  left: 47.0569%;
}
.vector {
  left: 47.0569%;
}
.icon90 {
  width: 100%;
  height: 100%;
}
.icon91 {
  width: 100%;
  height: 100%;
}
.icon92 {
  width: 100%;
  height: 100%;
}
.icon93 {
  width: 100%;
  height: 100%;
}
.icon94 {
  width: 100%;
  height: 100%;
}
.icon95 {
  width: 100%;
  height: 100%;
}
.icon96 {
  width: 100%;
  height: 100%;
}
.icon97 {
  width: 100%;
  height: 100%;
}
.icon98 {
  width: 100%;
  height: 100%;
}
.icon99 {
  width: 100%;
  height: 100%;
}
.icon100 {
  width: 100%;
  height: 100%;
}
.icon101 {
  width: 100%;
  height: 100%;
}
.icon102 {
  width: 100%;
  height: 100%;
}
.personajesCarolina.personajesCarolina {
  transform-origin: top left;
  position: absolute;
  left: 1361px;
  top: 160px;
  width: 310px;
  height: 743px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.group.group {
  width: 310px;
  height: 743px;
}
.group {
  width: 310px;
  height: 743px;
}
.icon103 {
  width: 100%;
  height: 100%;
}
.buttonSubs2.buttonSubs2 {
  left: 960px;
  top: 645px;
  padding: 5px 15px 1px;
}
.masEpisodios {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.menuBar.menuBar {
  position: absolute;
  left: 394px;
  top: 728px;
}
.imageEpisodios.imageEpisodios {
  position: absolute;
  left: 132px;
  top: 111px;
}
.rectangle.rectangle {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3.jpg');
}
.rectangle2.rectangle2 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle4.jpg');
}
.infoEpisodios.infoEpisodios {
  position: absolute;
  left: 858px;
  top: 182px;
}
.tipografiaTitulos3.tipografiaTitulos3 {
  position: absolute;
  left: 606px;
  top: 14px;
}
.menu.menu {
  position: absolute;
  left: 151px;
  top: -9px;
}
.icon104 {
  width: 100%;
  height: 100%;
}
.imageMicrofonoPortada.imageMicrofonoPortada {
  position: absolute;
  left: 733px;
  top: 140px;
  width: 707px;
  height: 734px;
}
._509700ceCb7f4630Beb0A2ddc1a586._509700ceCb7f4630Beb0A2ddc1a586 {
  background-image:/* webpackIgnore: true */ url('/assets/_509700ceCb7f4630Beb0A2ddc1a5862.jpg');
}
.imageTituloEpidemia.imageTituloEpidemia {
  position: absolute;
  left: 105px;
  top: 184px;
  width: 690px;
  height: 526px;
}
.imageRedesSonido2.imageRedesSonido2 {
  position: absolute;
  left: 182px;
  top: 780px;
  width: 575px;
  height: 50px;
}
.capa23.capa23 {
  width: 574.9849px;
  height: 50px;
}
.capa23 {
  width: 574.9849px;
  height: 50px;
}
.icon105 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100%;
  height: 3795px;
  align-items: flex-start;
}
.copyright {
  position: absolute;
  left: 0;
  top: 3623px;
  width: 1440px;
  height: 172px;
  align-items: flex-start;
  background-color: #f4bece;
  overflow: hidden;
}
.cOPYRIGHT2023ALLRIGHTSRESERVED {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 504px;
  top: 115px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.contacto {
  position: absolute;
  left: 0;
  top: 2769px;
  width: 1440px;
  height: 854px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  left: 538px;
  top: 143px;
  width: 822px;
  height: 558px;
  border-radius: 45px;
  background-color: #f4bece;
}
.rectangle22 {
  position: absolute;
  left: 573px;
  top: 175px;
  width: 457px;
  height: 53px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.rectangle3 {
  position: absolute;
  left: 573px;
  top: 240px;
  width: 457px;
  height: 53px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.rectangle4 {
  position: absolute;
  left: 573px;
  top: 305px;
  width: 457px;
  height: 53px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.rectangle5 {
  position: absolute;
  left: 573px;
  top: 370px;
  width: 758px;
  height: 290px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.mensaje {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 590px;
  top: 386px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.nombre {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 587px;
  top: 181px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.correo {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 587px;
  top: 247px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.telefono {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 587px;
  top: 313px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.infoRedesSociales {
  position: absolute;
  left: 0;
  top: 2689px;
  width: 1440px;
  height: 80px;
  align-items: flex-start;
  background-color: #000;
  overflow: hidden;
}
.encuentranosEnNuestrasRedesSoc {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 492px;
  top: 17px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.Caritolectura {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1073px;
  top: 16px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.LcreyesBooks {
  color: #f2f2f2;
  font-size: 36px;
  font-weight: 600;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 188px;
  top: 16px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.nosotras {
  position: absolute;
  left: 0;
  top: 1788px;
  width: 1440px;
  height: 901px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.holaLectoresSomosCarolinaBusta {
  position: absolute;
  left: 401px;
  top: 121px;
  width: 633px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.episodios3 {
  position: absolute;
  left: 0;
  top: 980px;
  width: 1440px;
  height: 808px;
  align-items: flex-start;
  background-color: #f4bece;
  overflow: hidden;
}
.info {
  position: absolute;
  left: 0;
  top: 900px;
  width: 1440px;
  height: 80px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.episodiosLos15Y30DeCadaMesALas {
  color: #000;
  font-size: 25px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 483px;
  top: 23px;
  width: 475px;
  height: 35px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.inicio {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 900px;
  align-items: flex-start;
  background-color: #000;
  overflow: hidden;
}
.menu2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 129px;
  align-items: flex-start;
  overflow: hidden;
}
.encuentranosEn {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  font-family: Cervino, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 30px;
  top: 790px;
  width: 152px;
  height: 33px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
